{% include "header.html" %}
<div class="content d-flex flex-column p-0" id="kt_content">
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl p-0">
			<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
				<!--begin::Toolbar container-->
				<div id="kt_app_toolbar_container" class="app-container px-7 d-flex flex-stack">
					<!--begin::Page title-->
					<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
						<!--begin::Title-->
						<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
							Create Category</h1>
						<!--end::Title-->
					</div>
					<!--end::Page title-->
					<!--begin::Actions-->
					<div class="d-flex align-items-center gap-2 gap-lg-3">
						<!--begin::Secondary button-->

						<!--end::Secondary button-->
						<!--begin::Primary button-->

						<!--end::Primary button-->
					</div>
					<!--end::Actions-->
				</div>
				<!--end::Toolbar container-->
			</div>
			<form method="post" action="{% url 'superadminapp:Template_Create_Category' %}" onsubmit="return mebershipvalidateForm()">
				{% csrf_token %}
				<div class="kt_content_containe_inr d-flex justify-content-between m-5 card">
					<div class="card-body">

						<div class="d-flex justify-content-between">
							<h4>Category Information</h4>
							<div>
								<input type="submit" class="btn btn-primary me-3 btn-sm" value="Continue" >
								<a href="{% url 'superadminapp:Category'%}" class="btn btn-sm"
									style=" background-color: red; color: white;">Cancel</a>
							</div>
						</div>
						{% for message in messages  %}

                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
						<div class="row my-5">
							<div class="col-9 p-3">
								<div class="fv-row mb-10 ">
									<label class="form-label fs-6 fw-bolder text-dark w-100 mt-5">
										<div class="d-flex justify-content-between">
											<h5 class="required">Category Name (ENGLISH)</h5>
											<!-- <p>250 Characters</p> -->
										</div>
									</label>
									<input class="form-control form-control-lg form-control-solid border-secondary"
										type="text" name="category_name" placeholder="Enter Category Title" id="category_title"
										autocomplete="off" maxlength="250" pattern="^(?!.*\s{2,})(?!\s*$).{3,100}"  title="Value must be between 3 and 100 characters and should not consist of only spaces."  required/>
										<!-- <p id="error-message" class="error-message text-danger"></p> -->

								</div>
								<div class="fv-row mb-10 ">
                                    <label class="form-label fs-6 fw-bolder text-dark w-100 mt-5 ">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="required">Category Name (عربي)</h5>
                                            <!-- <p>250 Characters</p> -->
                                        </div>
                                    </label>
                                    <input class="form-control form-control-lg form-control-solid border-secondary text-right"
                                        type="text" name="category_name_arabic" id="category_arabic_title" placeholder="أدخل عنوان الفئة"
                                        autocomplete="off" required maxlength="250" pattern="^(?!.*\s{2,})(?!\s*$).{3,100}"  title="Value must be between 3 and 100 characters and should not consist of only spaces." />
										<!-- <p id="error-message1" class="error-message text-danger"></p> -->

                                </div>
								<div class="mt-20">
                                    <h4>Category Availability</h4>
									<div id="membershipvalidations" style="color: red;"></div> 
                                    <p id="checkboxError" style="color: red;"></p>
                                    <div class="d-flex my-7">
                                        <div>
                                            <h6>Individual Membership</h6>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value="True" id="Category Availability"name="i_Free_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Free Membership
                                                </label>
                                            </div>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value="True" id="Category Availability"name="i_Basic_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Basic Membership
                                                </label>
                                            </div>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value="True" id="Category Availability"name="i_Premium_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Premium Membership
                                                </label>
                                            </div>
                                        </div>
                                        <div class="ms-20">
                                            <h6>Business Membership</h6>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value='True' id="Category Availability"name="b_Free_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Free Membership
                                                </label>
                                            </div>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value="True" id="Category Availability"name="b_Basic_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Basic Membership
                                                </label>
                                            </div>
                                            <div class="form-check mt-5">
                                                <input class="form-check-input" type="checkbox"
                                                    value="True" id="Category Availability"name="b_Premium_Membership">
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    Premium Membership
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>

							<div class="col-3 p-10">

							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--end::Root-->



<!--end::Modals-->
<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop mb-3" data-kt-scrolltop="true">
	<span class="svg-icon">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
			<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
			<path
				d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z"
				fill="black" />
		</svg>
	</span>
</div>


<!-- membeship blank not allow -->
<script>
    function mebershipvalidateForm() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var isChecked = false;
    
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                isChecked = true;
            }
        });
    
        var validationMessage = document.getElementById('membershipvalidations');
    
        if (!isChecked) {
            validationMessage.textContent = "Please select at least one Category Availability.";
            return false; 
        } else {
            validationMessage.textContent = ""; 
        }
    
        return true; 
    }
</script>
<!-- membeship blank not allow -->

<!-- category title mor than 250 characters -->
<!-- <script>
	function validateForm() {
		var inputValue = document.getElementById('category_title').value.trim();
		var errorMessage = document.getElementById('error-message');
		
		if (inputValue.length === 0 || inputValue.length < 3 || inputValue.length > 100) {
			errorMessage.textContent = 'Template title must be between 3 and 100 characters.';
			return false; // Prevent form submission
		} else {
			errorMessage.textContent = ''; // Clear error message
		}
	}
</script>
<script>
	function validateForm1() {
		var inputValue = document.getElementById('category_arabic_title').value.trim();
		var errorMessage = document.getElementById('error-message1');
		
		if (inputValue.length === 0 || inputValue.length < 3 || inputValue.length > 100) {
			errorMessage.textContent = 'Template title must be between 3 and 100 characters.';
			return false; // Prevent form submission
		} else {
			errorMessage.textContent = ''; // Clear error message
		}
	}
</script> -->
<!-- category title mor than 250 characters -->

{% include "footer.html" %}
